.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 100px;

@media screen and (max-width: 1024px){
    flex-direction: column; 
    gap: 0px;
}

}
.left{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    h1{
        font-size: 128px;
        background: linear-gradient(to right, #a469f1, #f4e6ff);
        background-clip: text;
        color:transparent;
        @media screen and (max-width: 1024px){
            font-size: 64px;
        }
    }

    h3{
        font-weight: 400;
        max-width: 70%;
        @media screen and (max-width: 1024px){
            max-width: 100%;
        }
    }

    a{
        font-weight: bold;
        padding: 15px 25px;
        background-color: #a469f1;
        color:white;
        border-radius: 20px;
        font-size: 14px;
        margin-top: 20px;
        transition: all .7s;
    }
    a:hover{
        color:#a469f1;
        background-color: white;
    }
}

.right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .imgContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #280a41;
        border-radius: 50px;
        width: 80%;
        height: 50%;
        position: relative;

        .bgContainer{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50px;
            
            .bg{
                background-image: url("/bg.png");
                opacity: 0.1;
                width: 200%;
                height: 100%;
                background-size: auto 100%;
                animation: 3s ease-in-out infinite alternate mascotAnimate;
            }
        }

        .mascot{
            width: 90%;
            height: 90%;
            object-fit: contain;
            animation: 3s ease-in-out infinite alternate bounceMascot;
        }

        .chat{
            position: absolute;
            bottom: -20px;
            right: -30px;
            display: flex;
            align-items: center;
            flex-direction: row;
            gap:10px;
            padding: 20px;
            overflow: hidden;
            height: 20%;
            background-color:#1e132c ;
            border-radius: 10px;
            @media screen and (max-width: 1024px){
                display: none;
            }
            @media screen and (max-width: 1280px){
                right: 0px;
            }

            img{
                width: 35px;
                height: 35px;
                border-radius: 50%;
                object-fit: cover;

            }
        }
    }
}

.orbital{
    position: absolute;
    top: 150px;
    left: 220px;
    opacity: 0.1;
    scale: 0.8;
    overflow: hidden;
    animation: 30s linear infinite alternate rotOrbital;
    z-index: -1;
}

.terms{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #a469f1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

    img{
        filter: brightness(4);
        width: 16px;
        height: 16px;
    }

    .links{
        display: flex;
        gap: 5px;
        color: #f4e6ff;
    }
}


@keyframes rotOrbital {
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: scale(1.3) rotate(60deg)
    }
}

@keyframes bounceMascot {
    0%{
        transform: scale(1) rotate(0)
    }
    100%{
        transform: scale(1.1) rotate(10deg)
    }
}

@keyframes mascotAnimate {
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translate(-50%)
    }
    
}